meter {
    
    --optimum: rgb(248,184,120);
    --sub-optimum: rgb(248,184,120);
    --sub-sub-optimum: rgb(248,184,120);
  
    /* The gray background in Firefox */
    background: var(--background);
  
    width: 70%;
  
  }
  
  /* The gray background in Chrome, etc. */
  meter::-webkit-meter-bar {
    background: var(--background);
  }
  
  /* The green (optimum) bar in Firefox */
  meter:-moz-meter-optimum::-moz-meter-bar {
    background: var(--optimum);
  }
  
  /* The green (optimum) bar in Chrome etc. */
  meter::-webkit-meter-optimum-value {
    background: var(--optimum);
  }
  
  /* The yellow (sub-optimum) bar in Firefox */
  meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--sub-optimum);
  }
  
  /* The yellow (sub-optimum) bar in Chrome etc. */
  meter::-webkit-meter-suboptimum-value {
    background: var(--sub-optimum);
  }
  
  /* The red (even less good) bar in Firefox */
  meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--sub-sub-optimum);
  }
  
  /* The red (even less good) bar in Chrome etc. */
  meter::-webkit-meter-even-less-good-value {
    background: var(--sub-sub-optimum);
  }


.port_main_div{
    min-height: 100vh;
   
 
}
.port_heroic_div{
    height: 70vh;
    background-color: #16a085;
    width: 100%;
}

.about_me_main{
    height: 90vh;
    /* background-color: aqua; */
    margin-top: -10%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.about_me_header{
    height: auto;
    width: 50%;
    /* background-color: blue; */
display: flex;
flex-direction: column;
align-items: center; 
line-height: 50%;

/* justify-content: center;   */

}
.about_me_title2{
    font-size: 15px;
}

.about_me_content{
    height: 105vh;
    width: 75%;
    background-color:tomato;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.about_me_content_left{
    width: 50%;
    height: 100%;
    background-color: chartreuse;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url("../Images/graduate.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.about_me_content_right{
    width: 50%;
    height: 100%;
    background-color:white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3%;
}
#highlights li{
    list-style-type: circle;
    margin-left: 2%;
    font-size: 15px;
}

.Resume_main{
    height: 85vh;
    background-color: #fafafa;
  
    display: flex;
  
    flex-direction: column;
    align-items: center;
    margin-top: 19%;
}
.Resume_header,.Contact_header{
    height: auto;
    width: 50%;
    /* background-color: blue; */
display: flex;
flex-direction: column;
align-items: center; 
line-height: 50%;

/* justify-content: center;   */
}
.Resume_content{
    height: 80%;
    width: 70%;
    /* background-color:tomato; */
}
.tab_main_container{
    height: 100%;
    width: 100%;
    display: flex;
}

.Resume_content_tab{
    width: 30%;
    height: 100%;
    background-color: #fafafa;
   padding-left: 10%;
   padding-top: 5%;

    
}
.Resume_content_tab p{
   cursor: pointer;
   /* margin-top: 10%;
   margin-bottom: 10%; */
    /* height: 50px; */
    /* background-color: green; */
    
}
.Resume_content_tab_content{
    width: 70%;
    height: 100%;
    background-color: #fafafa;
    word-wrap: break-word;
    padding: 10%;
}
.Resume_content_tab_content>div{
    display: none;
}
.Resume_content_tab_content .active_tabcontent{
    display: block;
    /* width: 120%; */
    /* background-color: #16a085; */
}
.active_tab{
   color: rgb(80,200,120);

   transition: all 0.2s ease-in-out;

}

.tab_indicator{
    height: 50px;
    width: 3%;
    background-color: rgb(80,200,120);
    position: relative;
    top: 40px;
    left: 95%;
    transition:  all 0.3s ;
}


.Contact_main{
    height: 85vh;
    /* background-color: aqua; */
    margin-top: -10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.Contact_content{
    height: 80%;
    width: 70%;
   
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.port_heroic_div_left{
height: 50%;
width:50%;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.port_heroic_div_right{
    height: 50%;
    width:50%;
   
display: flex;
justify-content: center;
align-items: center;
}
.port_profile{
    height: 50vh;
    width:50vh;
    border-radius: 50%;
    background-color: black;
    transition: transform 0.5s;
    background-image:url('../Images/mani_dp.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
}
.boom{
    /* transform: scale(2.5); */
    transition: top 0.3s ease-in-out;
    /* height: 10%;
    width: 10%;
    background-color: crimson; */
}

@keyframes uniqueMoveFromRight {
    from {
        transform: translateY(100%) translateX(-120%);
      }
      to {
        transform: translateY(0) translateX(0);
      }
  }
.port_profile{
    animation: uniqueMoveFromRight 1.5s ease-in-out; 
}
.spaces_heroic{
    letter-spacing: 2px;
    color: aliceblue;
}
.heroic_buttons{
    display: flex;
}
.Hire_me,.Get_resume{
  
    height: 50px;
    width: 200px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
border: 2px solid white;
background-color: transparent;
color: azure;
letter-spacing: 2px;
font-weight: 100;
transition: transform 0.5s
}
.Hire_me_about{
    height: 50px;
    width: 200px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
border: 2px solid #434343;
background-color: transparent;
color: #434343;
letter-spacing: 2px;
font-weight: 100;
transition: transform 0.5s
}
.Get_resume:hover{
    transform: scale(1.1);
    color: #fafafa;
}
.Hire_me:hover,.Hire_me_about:hover{
    transform: scale(1.1);
}
.about_me_para{
    font-size: 15px;
  font-weight: 300;
}
.Get_resume{
    background-color:#ff6347;
    border:none;
}

.bigfont{
    font-size: 30px;
}
/* tomato */
.about_me_title{
    font-size: 35px;
}
.program_skill_container{
    /* background-color: #16a085; */
    height: 100%;
    width: 100%; 
     display: flex;
     flex-direction: row;
    flex-wrap: wrap;
}
.program_skill_container>div{
    width: 50%;
    height: 20%;
    /* background-color: #ff6347; */
    display:inline-flex;
    flex-direction: column;
    padding-left: 2%;
    /* display: flex; */
}
.blue_blob{
    height: 30%;
    width: 30%;
    position: absolute;
    left:0%;
    top: -5%;
}
.yellow_blob{
    height: 30%;
    width: 30%;
    position: absolute;
    right:2%;
    bottom: 20%;
}
.contact_blur_div{
    /*  background: rgba(255, 255, 255, 0.2); */
    height: 97%;
    width:80%;
    background-color:yellow;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px)  ;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
    
}
.input_contact{
    border: transparent;
    /* margin-left: 10%; */
    background-color: 	#E0E0E0;
    margin-top: 2%;
    border-radius: 5px;
    width: 40%;
    padding: 1%;
    font-size: 12px;
}
.contact_blur_div>span{
    margin-left: -30%;
    margin-top: 1%;
}

.submit_admin_update {

    background-color: #16a085;
    padding: 2.9% 8.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 0.9rem;
    font-weight: 100;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    letter-spacing: 1px;
    outline: none;
}

.submit_admin_update:hover ,.submit_admin_delete:hover {
    transform: scale(0.85);
}

.admin_delete_popup_main{
    height: 42%;
    width: 60%;

    padding-top: 15%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .Resume_content{
      
        width: 90%;
        /* background-color:tomato; */
    }
    .admin_delete_popup_main {
        height: 32%;
        width: 81%;
        margin-top: 8%;
    }
    .port_heroic_div {
        height:92vh
    }
    .port_heroic_div_right {
        height: 36%;
        width: 100%;
    }
    .port_profile {
        height: 30vh;
        width: 30vh;
    }
    .port_heroic_div_left {
        width: 100%;
    }
    .Hire_me, .Get_resume,.Hire_me_about {
        height: 40px;
        width: 159px;
        font-size: 14px;
    }
    
  .bigfont {
    font-size: 20px;
}
.spaces_heroic {
   
    text-align: center;
}
.spaces_heroic {
    letter-spacing: 2px;
    color: aliceblue;
    font-size: 15px;
}
.about_me_main {
    height: 158vh;
    margin-top: 11%;
}
.about_me_content_right {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
    padding: 5%;
    border-bottom-left-radius: 10px;
}
/* .about_me_content {
    height: 100%;
    width: 99%;
    background-color: tomato;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.about_me_content_right {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3%;
} */
.about_me_content {
    height: 122%;
    width: 88%;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.about_me_content_left {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    
}
#highlights li {
   
    margin-left: 6%;
   
}
.tab_main_container {

    flex-direction: column;
}
.Resume_content_tab {
    width: 100%;
}
.Resume_content_tab_content {
    width: 100%;
    padding: 1%;
    margin-top: 1%;
}
.Resume_main {
    height: auto;
    margin-top: 23%;
}
.Contact_content {
    height: 80%;
    width: 92%;
}
.yellow_blob {
    height: 30%;
    width: 47%;
    right: -3%;
    bottom: 6%;
}
.input_contact {
    height: 10%;
    width: 90%;
}
.contact_blur_div>span {
    margin-left: -47%;
    margin-top: 4%;
    font-size: 17px;
}
.Contact_main {
   
    margin-top: 13%;
}
.Contact_header {
   
    width: 68%;
}
}
